$bag:"\f290";
$user:"\f007";
$insta:"\f16d";
$truck:"\f0d1";
$return:"\f1b8";
$percent:"\25";
$lock:"\f023";
$fb:"\f082";
$twitter:"\f099";
$card:"\f2fc";
$right-arrow:"\f061";
$star:"\f005";

$dark-green:#2ea884;
$light-green:#e4f4f0;
$whiteG:#fbfbfb;
$black:#000000;
$white:#ffffff;
$transparent:transparent;



