@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

/*for all*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/*for wrapper*/
.wrapper {
  max-width: 1920px;
  width: 62.4%;
  margin: 0 auto; }

.all-caps, .single-caps::first-letter {
  text-transform: uppercase; }

.first-caps {
  text-transform: capitalize; }

p {
  font-size: 11px;
  letter-spacing: .5px;
  line-height: 15px; }

.buttons {
  padding: 11px 18.5px;
  color: #ffffff;
  font-size: 15px;
  background-color: #2ea884;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: .5px; }

/*=================================
  Header styling starts here
=================================*/
header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0; }
header .cart {
  display: flex;
  text-indent: -9999px; }
header .cart::before {
  content: "";
  font-family: "fontAwesome";
  display: flex;
  text-indent: 0; }
header .user {
  display: flex;
  text-indent: -9999px; }
header .user::before {
  content: "";
  font-family: "fontAwesome";
  display: flex;
  text-indent: 0; }
header .header-icons {
  padding: 3px 5.5px;
  color: #000000;
  font-size: 14px;
  border: 2px solid transparent; }
header .nav-list a {
  padding: 11.5px;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.5px; }
header .nav-list {
  padding-right: 65px; }
header .hamburger {
  display: none; }
header img {
  width: 67%; }

/*=================================
  Header styling ends here
=================================*/
/*=================================
  main styling starts here
=================================*/
/*=================================
  banner styling starts here
=================================*/
.banner {
  padding: 31px; }
  .banner .wrapper {
    width: 78%;
    display: flex;
    justify-content: end;
    position: relative; }
  .banner .banner-img {
    width: 61.5%;
    padding-right: 26px; }
    .banner .banner-img img {
      height: 100%;
      object-fit: cover; }
  .banner .banner-content {
    width: 46.5%;
    padding: 34px 27px 30px;
    background-color: #2ea884;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    left: 20.5%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .banner h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 55px; }
  .banner p {
    margin: 10px 0 22px; }
  .banner .buttons {
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase; }

/*=================================
  banner styling ends here
=================================*/
/*=================================
  explore styling starts here
=================================*/
/*=================================
  explore styling ends here
=================================*/
/*=================================
  new-arrivals styling starts here
=================================*/
/*=================================
  new-arrivals styling ends here
=================================*/
/*=================================
  unique-products styling starts here
=================================*/
/*=================================
  unique-products styling ends here
=================================*/
/*=================================
  video styling starts here
=================================*/
/*=================================
  video styling ends here
=================================*/
/*=================================
  most-popular styling starts here
=================================*/
/*=================================
  most-popular styling ends here
=================================*/
/*=================================
  review styling starts here
=================================*/
/*=================================
  review styling ends here
=================================*/
/*=================================
  follow styling starts here
=================================*/
/*=================================
  follow styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
 /*=================================
  footer styling ends here
=================================*/
/*media query starts*/
/*media query for 995px starts here*/
/*media query for 480px starts here*/
/*=================================
  Hover styling starts here
=================================*/
@media only screen and (min-width: 996px) {
  header .header-icons:hover {
    border: 2px solid #000000; }
    header .header-icons:hover:hover {
      color: none;
      cursor: pointer;
      transition: all 1s; } }
/*=================================
  Hover styling ends here
=================================*/

/*# sourceMappingURL=style.css.map */
